<div class="topnav"> <!-- Aca aparece el nombre del usuario SOLO SI SE REGISTRA -->

</div>

<!-- Header-->

<header> <!-- Aca esta todo el header con el logo y los menus para navegar por la pagina (FLEXBOX) -->
    <div class="navMenu"> <!-- Dentro del div esta el logo -->
      <img src="/images/ultimoplay.png" alt=""> <!-- La imagen del logo -->
      <a href="/playit/home" id='home'>Home</a> <!-- Link a la pagina Home -->
      <a href="/playit/genre">Genre</a> <!-- Link a la pagina Genero -->
      <a href="/playit/genre#movies">Movies</a> <!-- Link a la pagina Peliculas -->
      <a href="/playit/users">Users</a> <!-- Link a la pagina Users -->
      <a href="/playit/search">Search</a> <!-- Link a la pagina Busqueda -->
      <a class="favorite" style="display: none;" href="favorite">Favorite</a> <!-- Link a la pagina Favoritos -->
    </div>

    <div class="login"> <!-- Dentro del div esta el link para logearse y el buscador -->

      <a id="botonLogin" style="margin-right: 15px;" href="login">LOGIN</a>

      <span id="user2">
        <i class="fas fa-user"></i>
        <p style="display:none; font-size: 20px;"></p>
      </span>

      <div id="searchbar" class="uk-navbar-right">

        <a class="uk-navbar-toggle" href="#modal-full" uk-search-icon uk-toggle></a>

      </div>

      <div id="modal-full" class="uk-modal-full uk-modal" uk-modal>
        <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>
          <button class="uk-modal-close-full" type="button" uk-close></button>
          <form class="uk-search uk-search-large" action="/playit/search" method="get">  <!-- cambie la ACTION del buscador por la ruta  -->
            <input class="uk-search-input uk-text-center" type="search" placeholder="Search..." autofocus name="busqueda">
            </form>
        </div>
      </div>

    <span id="hamburguer">
      <i class="fas fa-bars"></i>
    </span>
    </div>
    </header>

    <div class="responsivo">
      <div class="cerrar">
        +
      </div>
        <a href="home.ejs" >Home</a> <!-- Link a la pagina Home -->
        <a href="genre.ejs">Genre</a> <!-- Link a la pagina Genero -->
        <a href="genre.ejs#movies">Movies</a> <!-- Link a la pagina Peliculas -->
        <a href="search.ejs">Search</a> <!-- Link a la pagina Busqueda -->
        <a href="users.ejs">Users</a> <!-- Link a la pagina Users -->
        <a class="favorite1" style="display: none;" href="#">Favourite</a> <!-- Link a la pagina Favoritos -->

    </div>

<!-- ESTE ES EL FORMULARIO DE REGISTRACION -->
    <div class="bg-modal"> 
      <div class="modal-content">
        <div class="close">
          +
        </div>
        <span style="font-size: 5rem;">
          <i class="far fa-user"></i>
        </span>
        <p>Registracion</p>

        <form id="formlogin" name="login" method='POST' action="/playit/registration"> <!--AGREGO NAME Y METHOD para que funvione la ruta por metodo post y los datos se guarden-->

          <div class="uk-margin">
            <div class="uk-inline uk-width-2-3">
              <span class="uk-form-icon" uk-icon="icon: user"></span>
              <input class="uk-input" type="text" name='user' id="name">
            </div>
          </div>

          <div class="uk-margin">
            <div class="uk-inline uk-width-2-3">
              <span class="uk-form-icon" uk-icon="icon: mail"></span>
              <input class="uk-input" type="text" id="email" name='email'>
            </div>
          </div>

          <div class="uk-margin">
            <div class="uk-inline uk-width-2-3">
              <span class="uk-form-icon" uk-icon="icon: lock"></span>
              <input class="uk-input" type="password" id="password" name="password"> <!-- Input de password -->
            </div>
          </div>

          <div class="uk-margin">
            <div class="uk-inline uk-width-2-3">
              <span class="uk-form-icon" uk-icon="icon: calendar"></span>
              <input class="uk-input" type="date" id="date" name="date"> <!-- Input de fecha -->
            </div>
          </div>


          <button  type="submit" name="buttonLogin">Subscribe</button>

        </form>
      </div>
    </div>
    <!-- ESTE ES EL FORMULARIO DE REGISTRACION -->

    <div class="paginalogout">
      <div class="boxlogout">
        <img src="/images/sadimage.png" alt="">
        <p>Are you sure you want to log out?</p>
        <div class="botoneslogout">
          <button id="yesbutton" type="input" name="button">Yes</button>
          <button id="nobutton" type="input" name="button">No</button>
        </div>
      </div>
    </div>

    <!-- Header-->