<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/userDetail.css">
    <link rel="stylesheet" href="/stylesheets/uikit-rtl.css">
    <link rel="stylesheet" href="/stylesheets/uikit-rtl.min.css">
    <link rel="stylesheet" href="/stylesheets/uikit.css">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css">
  </head>
  <body>

    <!-- Header -->
    <%-include('header')%>
    <!-- Header -->

    <div class="titulo">
        <h1>Reviews</h1>
        <p>  </p>
      </div>

      <div class="ordenReviews">
          <div class="listado highest">
            <a href="/playit/resenasOrdenadas/masPuntuadas">Highest Rated</a>
          </div>
        <div class="listado worst">
          <a href="/playit/resenasOrdenadas/peorPuntuadas">Worst Rated</a>
        </div>
          <div class="listado latest">
            <a href="/playit/resenasOrdenadas/latestReviews">Latest</a>
          </div>
      </div>

    <!-- Footer-->
    <%-include('footer')%>
    <!-- Footer-->


    <script src="/javascripts/login.js" charset="utf-8"></script>
    <script rel="stylesheet" src="/javascripts/detalle.js"></script>
    <script src="/javascripts/uikit.min.js"></script>
    <script src="/javascripts/uikit-icons.min.js"></script>
    <script src="/javascripts/uikit-icons.js"></script>
    <script src="/javascripts/uikit.js"></script>
  </body>
</html>