<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/users.css">
    <link rel="stylesheet" href="/stylesheets/uikit-rtl.css">
    <link rel="stylesheet" href="/stylesheets/uikit-rtl.min.css">
    <link rel="stylesheet" href="/stylesheets/uikit.css">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css">
  </head>
  <body>

    <!-- Header -->
    <%-include('header')%>
    <!-- Header -->

    <div class="titulo">
      <h1>Find friends</h1>
      <p> The results of your search are displayed below </p>
    </div>
    
    <div class="contenedorPadre">
      <!-- Barra de buscar -->
      <div class="buscador">
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left">
                <div class="uk-navbar-item" style="padding: 0px!important;">
                    <form method="GET" action="/playit/listadoUsuarios" class="uk-search uk-search-navbar"> <!-- cambie action  -->
                        <span uk-search-icon></span>
                        <input class="uk-search-input busqueda" type="search" placeholder="" name="nombreUsuario" style="background-color: white!important;">
                        <!-- <button type="submit" name="button">Buscar</button> -->
    
                        <button class="searchbutton" type="submit" name="" style="background-color: white!important;">Search</button>
                    </form>
                </div>
            </div>
        </nav>
      </div>
      <!-- Barra de buscar -->
      <!-- Lista con todos los usuarios -->
      <div class="listadoUsuarios">

        <!-- Item de usuario -->
        <div class="usuario" style='border-top: 0px solid #f7f7f7!important;'>
          <div class="imagen"><p>Image</p></div>
          <div class="nombre data">
            <p>Name</p>
          </div>
          <div class="email data">
            <p>Email</p>
          </div>
          <div class="nacimiento data">
            <p>Birth Date</p>
          </div>
          <div class="detalles">
            <a href=""></a>
          </div>
        </div>
        <!-- Item de usuario -->

        <!-- Item de usuario -->

<!-- Item de usuario -->


        <!-- Item de usuario -->
        <div class="usuario">
          <div class="imagen"><img src="/images/iconoUsuario.png" alt=""></div>
          <div class="nombre data">
            <p>francodarget</p>
          </div>
          <div class="email data">
            <p>franco@gmail.com</p>
          </div>
          <div class="nacimiento data">
            <p>02/02/2001</p>
          </div>
          <div class="detalles">
            <a href="">+</a>
          </div>
        </div>
        <!-- Item de usuario -->



       
      </div>
      <!-- Lista con todos los usuarios -->
    </div>

    

    <!-- Footer-->
    <%-include('footer')%>
    <!-- Footer-->


    <script src="/javascripts/login.js" charset="utf-8"></script>
    <script rel="stylesheet" src="/javascripts/detalle.js"></script>
    <script src="/javascripts/uikit.min.js"></script>
    <script src="/javascripts/uikit-icons.min.js"></script>
    <script src="/javascripts/uikit-icons.js"></script>
    <script src="/javascripts/uikit.js"></script>
  </body>
</html>